* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading {
  background-color: #003566;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo path:nth-child(2) {
  stroke-dasharray: 615px;
  stroke-dashoffset: 615px;
  animation: line-anim 2s ease-in-out infinite forwards;
}

#logo path:nth-child(3) {
  stroke-dasharray: 237px;
  stroke-dashoffset: 237px;
  animation: line-anim 2s ease-in-out infinite forwards;
}
#logo path:nth-child(4) {
  stroke-dasharray: 415px;
  stroke-dashoffset: 415px;
  animation: line-anim 2s ease-in-out infinite forwards;
}
#logo path:nth-child(5) {
  stroke-dasharray: 550px;
  stroke-dashoffset: 550px;
  animation: line-anim 2s ease-in-out infinite forwards;
}
#logo path:nth-child(6) {
  stroke-dasharray: 590px;
  stroke-dashoffset: 590px;
  animation: line-anim 2s ease-in-out infinite forwards;
}
#logo path:nth-child(7) {
  stroke-dasharray: 412px;
  stroke-dashoffset: 412px;
  animation: line-anim 2s ease-in-out infinite forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
