*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #003566 !important;
    
}
.SignUp{
    background-color: #FFC300;
    color: #000814;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 40px;
    
}
.SideSignup{
    background-color: #FFD60A;
    height: 100vh;
    width: 40vw;
    float: left;
}
.SideSignup .SidePhoto img{
    width: 545px;
    height: 640px;
}
.SidePhoto {
    padding-left: 100px;
}
.SignUp:hover{
    color: #CCCCCC;
}
.SignUp:visited{
    color: #000814;
}
.SignUpForm{
    
}
.SubmitInput{
    background-color: #FFD60A;
    width: 550px;
    height: 45px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Kiwi Maru', serif;
}
.SignUpFormDiv{
    color: #FFC300;
    margin-left: 50vw;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.inputLine{
    display: flex;
    padding-top: 20px;
}
.input input{
    margin-top: 10px;
    width: 215px;
}
.inputLine input{
    display: block;
    border-radius: 10px;
    background-color: #F2F2F2;
    border-style: none;
}
.LongInput input{
    width: 550px;
    height: 30px;
}
.Linput{
    padding-left: 120px;
}
nav img{
    padding-left: 95px;
    padding-right: 75px;
    
}
nav{
    margin-top: 5px;
    font-family: 'Kiwi Maru', serif;
    margin-right: 50px;
}
.NavLink{
    margin-right: 33px;
    text-decoration: none;
}
.NavLink:visited{
    color: #CCCCCC;
}
.NavLink{
    color: #CCCCCC;
}
.NavLink:hover{
    color: #FFC300;
}
img{
    float: right;
}
.logo{
    height: 95px;
    width: 300px;
    padding-left: 50px;
    padding-top: 30px;
    float: left;
}
.Title{
    color: #FFC300;
    padding-bottom: 40px;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
}
.dis{
    color: #CCCCCC;
    padding-bottom: 130px;
    font-size: 18px;
    width: 450px;
    font-family: 'Poppins', sans-serif;
}
.SearchBut{
    background-color: #FFC300;
    color: #3F3D56;
    width: 200px;
    height: 60px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}
.SearchInput{
    width: 395px;
    height: 60px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 15px;
    
}
.SearchForm{
    padding: 0;
    margin: 0;
    font-family: 'Kiwi Maru', serif;
}
.HomeImg{
    width: 565px;
    height: 410px;
    margin-right: 100px;
    margin-top: 120px;
}
.HomeLeft{
    float: left;
    padding: 120px 0px 0px 100px;
    
}
.UserGret{
    color: #FFC300;
    padding-top: 15px;
    padding-right: 15px;
}
.addUsedBook{
    background-color: #2F2E41;
    color: #FFD60A;
    width: 1230px;
    height: 85vh;
    margin-left: auto;
    margin-right: 100px;
    border-radius: 10px;
}
.sellBookImg{
    float: left;
    height: 595px;
    width: 644px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.sellBookForm{
    display: flex;
    padding-top: 80px;
    padding-left: 50px;
    
    
}
.UsedBookDivInputs{
   display: block;
   
}
.UsedBookDivInputs .inputLine{
    margin-left: 140px;
}

.Top{
    display: block;
    margin-top: 15px;
}
.Top h2{
    width: 445px;
    float: left;
    color: #FFD60A;
    margin-left: 105px;
}
.Top a{
    float: right;
    background-color: #FFC300;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    height: 35px;
    color: #003566;
    text-decoration: none;
    padding-top: 5px;
    margin-right: 85px;
    
}
.BroSell{
    clear: both;
    margin-left: 105px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 85px;
    

}
.BroSell a{
    
}
.BuyUsedBtn{
    background-color: #FFC300;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    height: 35px;
    margin-left: 290px;
    margin-top: 140px;
    padding-top: 5px;
}
.BuyUsedBtn a{
    color: #003566;
    text-decoration: none;
}
.cardSellBook{
    background-color: #2F2E41;
    width: 600px;
    height: 335px;
    color: #FFC300;
    margin-top: 20px;
    
}
.cardSellBook img{
    float: left;
    height: 100%;
    width: 220px;
    
}
.inf{
    margin-left: 260px;
    margin-top: 30px;
    padding-top: 10px;
}
.sellinput{
    background-color: #FFD60A !important;
    color: #003566;
}
  
[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }
  
  [type="file"] + label {
    /* File upload button styles */
    background: url("/static/images/upload1.svg") no-repeat ;
    /*background-color: #000;*/
    /*border-radius: 4rem;*/
    color: #FFD60A;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 8rem;
    line-height: 4rem;
    padding-top: 6rem;
    padding-right: 2rem;
    transition: background-color 0.3s;
    margin-left: 3rem;
  }
  
  [type="file"]:focus + label,
  [type="file"] + label:hover {
    /* File upload hover state button styles */
    
  }
  
  [type="file"]:focus + label {
    /* File upload focus state button styles */
    outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
  }
  .ContactForm{
    background-color: #2F2E41;
    width: 395px;
    height: 500px;
    float: right;
    color: #CCCCCC;
    margin-right: 85px;
    border-radius: 30px;
    margin-left: 0;
    padding-top: 50px;
    box-shadow: 0 8px 6px -6px black;
  }
  .ContactForm div{
      
  }
  .ContactForm h3{
      text-align: center;
  }
  .ContactImg{
      float: left;
      width: 601px;
      height: 492px;
      margin-left: 110px;
  }
  .Contact{
      margin-top: 50px;
  }
  .ContactFormDiv{
    padding-left: 0px !important;
  }
  .inputLineC{
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
  }
 
.inputLineC input{
    display: block;
    border-style: none;
    outline: 0;
    border-width: 0 0 2px;
    border-bottom: 1px solid #000000;
    background-color: #2F2E41;
    margin-top: 0px;
    width: 300px;
}
.Btn{
    padding-left: 200px;
    padding-right: 0;
    
}
.Btn input{
    background-color: #FFC300;
    width: 100px;
    border-radius: 10px;
    height: 40px;
    font-family: 'Kiwi Maru', serif;
    
}