{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %}Book Detail{% endblock %}
{% block content %}

{% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" data-mdb-color="danger">
        {{ message }}
      </div>
    {% endfor %}

{% endif %}
<h1>{{ object.Price}}</h1>

<a href="{{ book.get_add_to_cart_url }}">Order book</a>
<a href="{{ book.get_remove_from_cart_url }}">Delete book</a>

{% endblock %}