{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %}Contact{% endblock %}
{% block content %}


<div class="Contact">
    <img src="{% static 'images/Undraw/Contact.svg'%}" class="ContactImg">
    <div class="ContactFormDiv">
        <form action="contact" method="POST" class="ContactForm">
            {% csrf_token %}
            <h3>Contact Us</h3>
            <div class="UsedBookDivInputs con">
                <div class="inputLineC">
                    <div class="input">
                        <label>Name:</label>
                        <input type="text" class="input" name="Book_Title">
                    </div>
                </div>
                <div class="inputLineC">
                    <div class="input">
                        <label>Email :</label>
                        <input type="email" class="input" name="Book_Price">
                    </div>
                </div>
                <div class="inputLineC">
                    <div class="input">
                        <label>Phone number :</label>
                        <input type="number" class="input" name="Book_Price">
                    </div>
                </div>
                <div class="inputLineC">
                    <div class="input">
                        <label>Message :</label>
                        <input type="text" class="input" name="Book_Price">
                    </div>
                </div>
                
                <div class="inputLineC">
                    <div class="input Btn">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}