{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %}Contact{% endblock %}
{% block content %}


<div class="Contact">
    {% if Msg_name %}

    {% else %}
    <img src="{% static 'images/Undraw/Contact.svg'%}" class="ContactImg">
    {% endif %}
    <div class="ContactFormDiv">
        {% if Msg_name%}
        <div class="done">
            <h1>Thank you {{Msg_name}}</h1>
            <h4>We will contact you soon</h4>
            <img src="{% static 'images/Undraw/done.svg'%}">
        </div>
        {% else %}
        <form action="Contact" method="POST" class="ContactForm">
            {% csrf_token %}
            <h3>Contact Us</h3>
            <div class="UsedBookDivInputs con">
                <div class="inputLineC">
                    <div class="input">
                        <label>Name:</label>
                        <input type="text" class="input" name="Msg-name">
                    </div>
                </div>
                <div class="inputLineC">
                    <div class="input">
                        <label>Email :</label>
                        <input type="email" class="input" name="Msg-email">
                    </div>
                </div>
                <div class="inputLineC">
                    <div class="input">
                        <label>Phone number :</label>
                        <input type="number" class="input" name="Msg-number">
                    </div>
                </div>
                <div class="inputLineC">
                    <div class="input">
                        <label>Message :</label>
                        <input type="text" class="input" name="Msg-message">
                    </div>
                </div>
                
                <div class="inputLineC">
                    <div class="input Btn">
                        <input type="submit" value="Send">
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>


{% endblock %}