{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}


<div class="addUsedBook">
    <img src="{% static 'images/Undraw/addusedbookform1.jpg' %}" class="sellBookImg">
    <form action="addUsedBook" method="POST" class="sellBookForm">
        {% csrf_token %}
        <div class="UsedBookDivInputs">
            <div class="inputLine">
                <div class="input">
                    <input type="file" name="Book_Image">
                    <label>upload image</label>
                </div>
            </div>
            <div class="inputLine">
                <div class="input">
                    <label>Book Title</label>
                    <input type="text" class="input" name="Book_Title">
                </div>
            </div>
            <div class="inputLine">
                <div class="input">
                    <label>Book Price</label>
                    <input type="number" class="input" name="Book_Price">
                </div>
            </div>
            <div class="inputLine">
                <div class="input">
                    <input type="submit">
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}