{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %}Sell used book{% endblock %}
{% block content %}


<div class="addUsedBook">
    <img src="{% static 'images/Undraw/addusedbookform1.jpg' %}" class="sellBookImg">
    <form action="addUsedBook" method="POST" class="sellBookForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="UsedBookDivInputs">
            <div class="inputLine">
                <div class="input">
                    <input type="file" id="file" name="Book_Image">
                    <label for="file">Upload image</label>
                </div>
            </div>
            <div class="inputLine">
                <div class="input">
                    <label>Book Title</label>
                    <input type="text" class="input" name="Book_Title">
                </div>
            </div>
            <div class="inputLine">
                <div class="input">
                    <label>Book Price</label>
                    <input type="number" class="input" name="Book_Price">
                </div>
            </div>
            <div class="inputLine">
                <div class="input">
                    <input type="submit" value="Sell The Book" class="SubmitInput sellinput">
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}